body {
  margin: 0;
  text-align: center;
  font-family: "Merriweather", serif;
  color: #40514e;
}
h1 {
  margin-top: 0;
  position: relative;
  top: 100px;
  font-size: 90px;
}
p {
  line-height: 2;
}
h1 {
  font-family: "Sacramento", cursive;
  color: #66bfbf;
}
h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 2.5rem;
  color: #66bfbf;
  font-weight: normal;
}
h3 {
  font-family: "Montserrat", sans-serif;
  color: #11999e;
}
a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}
a:hover {
  color: #eaf6f6;
}

.top-container {
  background-color: #e4f9f5;
}
.middle-container {
  margin: 100px auto;
}
.first-cloud {
  position: absolute;
  right: 300px;
  top: 20px;
}
.sec-cloud {
  position: absolute;
  top: 290px;
}
.mountain {
  position: relative;
  top: 80px;
}
.profile-pic {
  width: 200px;
  position: relative;
  top: 100px;
}
.skill-row {
  width: 50%;
  margin: 50px auto 100px auto;
  text-align: left;
  line-height: 2;
}
.web-site {
  position: relative;
  margin-top: auto;
}
.web-dev-images {
  float: left;
  margin-right: 30px;
}
.app-dev-images {
  float: right;
}

.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Arial;
  color: #ffffff;
  font-size: 14px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.bottom-container {
  background-color: #66bfbf;
  padding: 50px 0 20px;
}
.first-hr {
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 100px auto;
}
